<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Framework" type="Framework.Configuration.FrameworkConfiguration, Framework, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" restartOnExternalChanges="true" />
  </configSections>
  <Framework xmlns="urn:framework-config">
    <Data server="(local)" database="test" username="sa" password="helloWorld123" />
  </Framework>
</configuration>