<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
  </system.web>
  <Framework xmlns="urn:framework-config" xdt:Transform="Replace">
    <Data server="DDR-OASQL02NP" database="EnscoIrma_Corp" username="kpi_read" password="KPIiadc123" />
  </Framework>
  <appSettings>
    <add key="WebApiUrl" value="http://localhost:8081/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="uploadfilepath" value="/Upload/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
  <connectionStrings>
    <add name="irmaoapDbContext" providerName="System.Data.SqlClient" connectionString="Data Source=DDR-OASQL02NP;Initial Catalog=EnscoIrma_Corp;User ID=kpi_read;Password=KPIiadc123;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
</configuration>